# SVN
.svn/
# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Data
data/

# Test
test/

# Build
build/

# CMake
CMakeFiles/
CMakeCache.txt
*.cmake

# Temporary Matlab files
*.m~
*.mat

# DS_Store
.DS_Store
